.table {
    font-size: 15px;
}

.panel-heading {
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 10px;
}

#panel_title {
    padding-top: 5px !important;
}

.panel .btn-default {
    border-radius: 0;
    border: none;
    border-left: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
}

#clear_btn .btn, .btn-default, .btn-link {
    background: linear-gradient(to bottom, #E4E4E4 1%, #FEFEFE 100%);
}
.panel_label .btn-block {
	background: #EDEDED;
	border: none;
	text-align: left;
	word-break: break-all !important;
	height:30px;
}

ul {
    margin: 0px;
    padding: 0px;
}

li {
    list-style: none;
}

.li_content_margin {
    margin-right: 5px;
}

#tbody_content.panel-heading {
    padding-left: 10px;
}

#search_panel .panel-heading {
    padding-left: 10px;
}

.well {
    background-color: #F9F9F9;
}

.label {
    margin-left: 2px;
}

#tbody_content {
    padding-bottom: 5px !important;
}

#clickable_row {
    cursor: pointer;
}

@media (max-width: 640px) {
  
    body {
        font-size: 1.6em;
    }
}
