<div class="row-fluid">
  <div class="row">                           <!--Page header start-->
    <div class="col-sm-12">
      <ul class="breadcrumb">
        <li class="active">
          <span class="flipper-title">
            Orders
          </span>          
        </li>
      </ul>
    </div>
  </div>                                     <!--Header end-->

  <div class="row">                           
    <div class="col-lg-12">
      <div class="row">
        <div class="col-lg-3 col-md-3">
          <div ng-include="'pages/OS_Filter.html'"></div>
        </div>
        <div class="col-lg-9 col-md-9">
          <div ng-include="'pages/OS_Results.html'"></div>
        </div>
      </div>
    </div>
  </div>
</div>