<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Order Search</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/custom.css" rel="stylesheet">
  </head>

  <body ng-app="orderSearch">
    <div class="container" ng-controller="orderDetailController">
      <div class="row"><!--start of page main content !-->  
        <div class="col-lg-12 col-md-12 col-sm-12" data-ng-repeat="order in order_details">
          <div class="panel panel-default">
            <div class="panel-heading" >
              <div class="panel-title">
                <span>{{order.id}}</span>
                <button class="btn btn-success btn-xs dropdown-toggle panel-head-status-button" data-toggle="dropdown" type="button">       
                  {{order.status}} 
                  <span class="caret hidden-xs"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-arrow order-status-dropdown hidden-xs" role="menu">
                  <li>
                    <div id="order-status-history">
                      <table class="table table-striped table-bordered table-hover">
                        <tbody>
                          <tr data-ng-repeat="order in order_history">
                            <td>{{order.status}}</td>
                            <td>{{order.date}}</td>
                            <td>{{order.user}}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </li>
                </ul>       
              </div>
              <div id="order-panel">
                <span id="buttonPortrait">
                  <a href="#" class="btn btn-default btn-sm panel-head-button" >
                    <span class="glyphicon glyphicon-share"></span> Reorder
                  </a>
                  <a class="btn btn-default btn-sm panel-head-button">
                    <span class="glyphicon glyphicon-retweet"></span> Create RMA
                  </a>
                </span>
                <span id="buttonLandscape">
                  <a href="#" class="btn btn-default btn-sm panel-head-button">
                    <span class="glyphicon glyphicon-share"></span>
                  </a>
                  <a class="btn btn-default btn-sm panel-head-button">
                    <span class="glyphicon glyphicon-retweet"></span>
                  </a>
                </span>
              </div>
            </div>
   
            <!-- Panel body for large screen starts here !-->
            
            <div class="panel-body" id="forLargeDevices">
              <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3">
                  <ul class="list-unstyled">                  
                    <li>
                      <a href="#">{{order.name}}</a>
                      <small class="text-muted">via {{order.channel}}</small>
                    </li>
                    <li>{{order.email}}
                      <a href="mailto:{{order.email}}"><span class="glyphicon glyphicon-envelope"></span></a>
                    </li>          
                    <li>
                      {{order.phone}} <a href="tel:{{order.phone}}"><span class="glyphicon glyphicon-phone"></span></a>
                    </li>
                  </ul>     
                </div>
                
                <div class="col-lg-3 col-md-3 col-sm-3" >
                  <ul class="list-unstyled">                  
                    <li>
                      {{order.date}}
                    </li>
                    <li>Priority : {{order.priority}}</li>          
                    <li>
                      PO :  {{order.PO}} 
                      <a href="#" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-pencil"></span></a>
                      <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-sm">
                          <div class="modal-content">
      		            <div class="modal-header">
        		      <button type="button" class="close" data-dismiss="modal">
                                <span aria-hidden="true">&times;</span>
                                <span class="sr-only">Close</span>
                              </button>
                              <h4 class="modal-title" id="myModalLabel">Add PO Number</h4>
                            </div>
                            <div class="modal-body">
                              <form> 
                                <label>PO Number*</label>
                                <div class="form-group">
                                  <input type="text" class="form-control"/>             
                                </div>
                              </form>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-primary pull-left">Save</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li> 
                  </ul>                      
                </div>

                <div class="col-lg-3 col-md-3 col-sm-3" >
                  <table class="table-price">
                    <thead>
                      <tr>
                        <th width="50%">Subtotal</th>
                        <td>{{order.subTotal}}</td>
                      </tr>
                      <tr>
                        <th width="50%">Adjustments </th>
                        <td>{{order.adjustments}}</td>
                      </tr>
                      <tr>
                        <th width="50%">Grand Total </th>
                        <td>{{order.grandTotal}}</td>
                      </tr>
                    </thead>  
                  </table>
                </div>
                                        
                <div class="col-lg-3 col-md-3 col-sm-3">
                  <table class="table-price">
                    <thead>
                      <tr>
                        <th width="50%">Salestax </th> 
                        <td width="50%">{{order.salesTax}}</td>
                      </tr>
                      <tr>
                        <th width="50%">Shipping </th>
                        <td>{{order.shipping}}</td>
                      </tr>
                      <tr>
                        <th width="50%">Discount </th>
                        <td>{{order.discount}}</td>
                      </tr>
                    </thead>
                  </table>
                </div>
              </div>
            </div><!--Panel body end for large devices -->

            <div class="panel-body" id="forPortrait"><!--Panel body for small device portrait view starts here-->
              <div class="row">
                <div class="col-xs-12">
                  <ul class="list-unstyled">                  
                    <li>
                      <a href="#">{{order.name}}</a>
                      <span class="pull-right"> {{order.email}} 
                        <a href="mailto:{{order.email}}"><span class="glyphicon glyphicon-envelope"></span></a>
                      </span>
                    </li>         
                    <li>
                      <small class="text-muted">via {{order.channel}}</small>
                      <span class="pull-right"> {{order.phone}} 
                        <a href="tel:{{order.phone}}"><span class="glyphicon glyphicon-phone"></span></a>
                      </span>
                    </li>
                  </ul>
                  <hr>
                </div>
                
                <div class="col-xs-12" >
                  <ul class="list-unstyled">                  
                    <li>
                      {{order.date}}
                    </li>
                    <li>Priority : {{order.priority}}
                      <span class="pull-right">PO :  {{order.PO}}  <a href="" data-toggle="modal" data-target="#add_phone">
                       <span class="glyphicon glyphicon-pencil"></span></a> </span>
                       <div class="modal fade" id="add_phone" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                         <div class="modal-dialog modal-sm">
                           <div class="modal-content">
                             <div class="modal-header">
                               <button type="button" class="close" data-dismiss="modal">
                                 <span aria-hidden="true">&times;</span>
                                 <span class="sr-only"></span>      
                               </button>
                               <h4 class="modal-title" id="myModalLabel">Add PO Number</h4>
                             </div>
                             <div class="modal-body">
                               <form role="form">
                                 <div class="form-group">
                                   <label for="name">PO Number*</label>
                                   <input type="text" class="form-control" />
                                 </div>
                                 <button type="submit" class="btn btn-primary">Save</button>
                               </form>
                             </div>
                           </div>
                         </div>
                       </div>    
                    </li>          
                  </ul>
                  <hr>                      
                </div>
                <div class="col-xs-12" >
                  <table class="table-price">
                    <thead>
                      <tr>
                        <th width="50%">Subtotal  </th>
                        <td>{{order.subTotal}}</td>
                      </tr>
                      <tr>
                        <th width="50%">Adjustments </th>
                        <td>{{order.adjustments}}</td>
                      </tr>
                      <tr>
                        <th width="50%">Grand Total </th>
                        <td>{{order.grandTotal}}</td>
                      </tr>
                    </thead>  
                  </table>
                  <hr class="visible-xs">                
                </div>
                                        
                <div class="col-xs-12">
                  <table class="table-price">
                    <thead>
                      <tr>
                        <th width="50%">Salestax </th> 
                        <td width="50%">{{order.salesTax}}</td>
                      </tr>
                      <tr>
                        <th width="50%">Shipping </th>
                        <td>{{order.shipping}}</td>
                      </tr>
                      <tr>
                        <th width="50%">Discount </th>
                        <td>{{order.discount}}</td>
                      </tr>
                    </thead>
                  </table>
                </div>
              </div>
            </div><!--Panel body for small devices portrait view end-->

            <div class="panel-body" id="forLandscape"><!--panel body for small device landscape view starts here !-->
              <div class="row">
                <div class="col-xs-6">
                  <ul class="list-unstyled">                  
                    <li>
                      <a href="#">{{order.name}}</a>
                      <small class="text-muted">via {{order.channel}}</small>
                    </li>
                    <li>{{order.email}} 
                      <a href="mailto:{{order.email}}"><span class="glyphicon glyphicon-envelope"></span></a>
                    </li>          
                    <li>
                      {{order.phone}} <a href="tel:{{order.phone}}"><span class="glyphicon glyphicon-phone"></span></a>
                    </li>
                  </ul> 
                  <hr>    
                </div>
                
                <div class="col-xs-6" >
                  <ul class="list-unstyled">                  
                    <li>
                      <small>{{order.date}}</small>
                    </li>
                    <li>Priority : {{order.priority}}</li>          
                    <li>PO :  {{order.PO}}  
                      <a href="" data-toggle="modal" data-target="#add_phone">
                        <span class="glyphicon glyphicon-pencil"></span>
                      </a>
                      <div class="modal fade" id="add_phone" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-sm">
                          <div class="modal-content">
                            <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal">
                                <span aria-hidden="true">&times;</span>
			        <span class="sr-only"></span>      
                              </button>
                              <h4 class="modal-title" id="myModalLabel">Add PO Number</h4>
                            </div>
                            <div class="modal-body">
			      <form role="form">
                                <div class="form-group">
                                  <label for="name">PO Number*</label>
                                  <input type="text" class="form-control">
                                </div>
                                <button type="submit" class="btn btn-primary">Save</button>
                              </form>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li> 
                  </ul>
                  <hr>                      
                </div>

                <div class="col-xs-6" >
                  <table class="table-price">
                    <thead>
                      <tr>
                        <th width="50%">Subtotal  </th>
                        <td>{{order.subTotal}}</td>
                      </tr>
                      <tr>
                        <th width="50%">Adjustments </th>
                        <td>{{order.adjustments}}</td>
                      </tr>
                      <tr>
                        <th width="50%">Grand Total </th>
                        <td>{{order.grandTotal}}</td>
                      </tr>
                    </thead>  
                  </table>
                </div>  
                                        
                <div class="col-xs-6">
                  <table class="table-price">
                    <thead>
                      <tr>
                        <th width="50%">Salestax </th> 
                        <td width="50%">{{order.salesTax}}</td>
                      </tr>
                      <tr>
                        <th width="50%">Shipping </th>
                        <td>{{order.shipping}}</td>
                      </tr>
                      <tr>
                        <th width="50%">Discount </th>
                        <td>{{order.discount}}</td>
                      </tr>
                    </thead>
                  </table>
                </div>
              </div>
            </div><!--panel body for small device landscape view end-->
          </div>
        </div> 

        <div class="col-lg-12 col-md-12 col-sm-12" data-ng-repeat="billing in billing_details"><!-- main page content 2nd row !-->
          <div class="panel panel-default">
            <div class="panel-heading">
              <div class="panel-title">
                <span>Billing</span>
              </div>
            </div>
          
            <table class="table table-bordered table-hover table-striped table-responsive hidden-xs">
              <thead>
                <tr>
                  <th>Payment Term</th>
                  <th>Invoice</th>
                  <th>Payment Method</th>
                  <th>Amount</th>
                  <th>Agent</th>
                  <th>Commission</th>
                </tr>
              </thead>          
              <tbody>
                <tr>
                  <td>{{billing.paymentTerm}}</td>
                  <td><a href="#">{{billing.invoice}}<img class="pdf-icon" src="images/pdf.ico"></span></a></td>
                  <td class="customWidthPopover">
                    <span><img src="images/visa.png" width="50px"></img></span>
                    <span class="label label-success">{{billing.paymentMethodHistory}}</span>
                    <br>{{billing.paymentMethod}} 
                     <span class="glyphicon glyphicon-info-sign" data-ng-repeat="address in customer_address" data-trigger="hover" data-placement="top" data-content="{{address.name}}&nbsp;{{address.street}}&nbsp;{{address.city}}&nbsp;{{address.country}}" data-toggle="popover" data-original-title="Address"></span>                   
                  </td>
                  <td>{{billing.amount}}</td>
                  <td>{{billing.agent}}</td>
                  <td>{{billing.commission}}</td>
                </tr>
                <tr>
                  <td colspan="5">
                    <div class="text-right">
                      <strong><small>Invoice</small></strong>    
                    </div>
                  </td>
                  <td><span>{{billing.invoiced}}</span></td>
                </tr>
                <tr>
                  <td colspan="5">
                    <div class="text-right">
                      <strong><small>Amount Remaining</small></strong>    
                    </div>
                  </td>
                  <td><span class="text-success">{{billing.remaining}}</span></td>
                </tr>
              </tbody>      
            </table>  
              
            <table id="table-billing-small" class="visible-xs"><!--Billing table for Extra-small devices start-->
              <tr>
                <th>Payment Term</th>
                <td>{{billing.paymentTerm}}</td>  
              </tr>
              <tr>
                <th>Invoice</th>
                <td><a href="#">{{billing.invoice}}<img class="pdf-icon" src="images/pdf.ico"></span></a></td>  
              </tr>
              <tr>
                <th>Payment Method</th>
                <td>
                  <span><img src="images/visa.png" width="25px"></img></span>
                  <span class="label label-success text-xs">{{billing.paymentMethodHistory}}</span>
                </td>
              </tr>
              <tr>
                <td></td> 
                <td>  
                  <ul class="list-unstyled pull-right">
                    <li class="clearfix">
                      {{billing.paymentMethod}}
                    </li>
                  </ul>
                </td>  
              </tr>
              <tr>
                <th>Amount</th>
                <td>{{billing.amount}}</td>
              </tr>
              <tr>
                <th>Agent</th>
                <td>{{billing.agent}}</td>
              </tr>
              <tr>
                <th>Commission</th>
                <td>{{billing.commission}}</td>
              </tr>
              <tr>
                <th>Invoice</th>
                <td>{{billing.invoiced}}</td>
              </tr>
              <tr>
                <th>Amount Remaining</th>
                <td class="text-success">{{billing.remaining}}</td>
              </tr>
            </table> <!--Billing table for Extra-small devices end -->   
          </div>
        </div><!--end of main page content 2nd row !-->

        <div class="col-lg-12 col-md-12 col-sm-12"><!--start of main page content: 3rd row!-->
          <div class="panel panel-default">
            <div class="panel-heading">
              <span class="panel-title">
                Shipment
              <span>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3" >
                  <ul class="list-unstyled">
                    <li data-ng-repeat="address in customer_address">
                      <address>
                        <strong>{{address.name}}</strong><br>
                        {{address.street}}<br>
                        {{address.city}}<br>
                        {{address.country}}
                      </address>
                    </li>
                    <li>
                      First Class(3-7)days
                    </li>
                    <hr class="visible-xs">
                  <ul/>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3">
                  <ul class="list-unstyled">
                    <li>
                      <strong>Instructions</strong>
                      <div><span class="text-muted">This shipment does not have any shipping instruction.</span></div>
                    </li>
                    <br/>
                    <li>
                      <strong>Gift Message</strong>
                      <div><span class="text-muted">This shipment does not have any gift message.</span></div>
                    </li>
                  </ul>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-6">
                  <div id="order-table" class="hidden-xs">
                    <table class="table table-bordered table-hover" >  
                      <thead>
                        <tr>
                          <th>Package</th>
                          <th>Tracking Code</th>
                          <th class="hidden-xs">Packing Slip</th>
                          <th class="hidden-xs">Label</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr data-ng-repeat="shipment in shipment_details">
                          <td>
                            <a href="#">{{shipment.packageInfo}}</a>
                          </td>
                          <td>
                            <small>{{shipment.trackingCode}}</small>
                            <div class="visible-xs">
                              <small class="text-muted">Packing slip
                                <a href="{{shipment.packagingSlip}}"><img src="images/pdf.ico" class="pdf-icon"/></a>
                              </small><br>
                              <small class="text-muted">Label
                                <a href="{{shipment.label}}"><img src="images/pdf.ico" class="pdf-icon"/></a>
                              </small>
                            </div>                          
                          </td>
                          <td class="hidden-xs">
                            <a href="{{shipment.packagingSlip}}"><img src="images/pdf.ico" class="pdf-icon"/></a>
                          </td>
                          <td class="hidden-xs">
                            <a href="{{shipment.label}}"><img src="images/pdf.ico" class="pdf-icon"/></a>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>

                  <div id="order-table" class="visible-xs">
                    <table class="table table-bordered table-hover">   
                      <thead>
                        <tr> 
                          <th width="40%">Package</th>
                          <th>Details</th> 
                        </tr>
                      </thead>
                      <tbody>
                        <tr data-ng-repeat="shipment in shipment_details">
                          <td><a href="#">{{shipment.packageInfo}}</a></td> 
                          <td>
                            <small>{{shipment.trackingCode}}</small><br>
                            <small class="text-muted">Slip
                              <a href="{{shipment.packagingSlip}}"><img src="images/pdf.ico" class="pdf-icon"/></a>
                            </small>
                            <small class="text-muted">Label
                              <a href="{{shipment.label}}"><img src="images/pdf.ico" class="pdf-icon"/></a>
                            </small>
                          </td>
                        </tr>
                      </tbody>                  
                    </table>
                  </div>
                </div>
              </div>
            </div>

            <div class="navbar navbar-default">
              <ul class="nav navbar-collapse navbar-right">
                <li class="pull-right">
                  <button class="btn btn-default btn-round popper" data-trigger="hover" data-toggle="popover" data-original-title="Color Scheme">?</button>
                  <div class="popper-content hide">
                    <ul class="list-unstyled microbox-list">
                      <li><div class="microbox order-item-picked"></div>Picked</li>
                      <li><div class="microbox order-item-shipped"></div>Shipped</li>
                      <li><div class="microbox order-item-backordered"></div>Backordered</li>
                      <li><div class="microbox order-item-cancelled"></div>Cancelled</li>
                    </ul>
                  </div>
                </li>
              </ul>
            </div>

            <div id="order-table" class="hidden-xs order-table-fluid">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th width="5%">#</th>
                    <th width="40%">Product</th>
                    <th width="15%">Qty</th>
                    <th width="20%">Price</th>
                    <th width="20%"><div class="pull-right">Total</div></th>
                  </tr>
                </thead>
                <tbody>
                  <tr data-ng-repeat="product in product_detail" class="bg-{{product.colorScheme}}">
                    <td>{{product.sNo}}</td>
                    <td>
                      <a href="">[{{product.id}}] </a> {{product.name}} <span class="label {{product.label}}">{{product.status}}</span>
                    </td>
                    <td>{{product.quantity}} 
                      <span class="infoPopover glyphicon glyphicon-question-sign" data-toggle="popover" data-placement="top" data-content="{{product.info}}" data-original-title="" data-trigger="hover" title="Information">
                      </span>
                    </td>
                    <td>{{product.price}}</td>
                    <td>
                      <div class="pull-right">{{product.total}}</div>
                    </td>
                  </tr>
                </tbody>
              </table>   
              <div class="pull-right">
                <table>
                  <thead data-ng-repeat="product in product_gross">
                    <tr><th width="80px">Tax</th><td>{{product.tax}}</td></tr>
                    <tr><th width="80px">Subtotal</th><td>{{product.subtotal}}</td></tr>
                  </thead>
                </table>
              </div>
            </div>
           
            <div id="order-table" class="visible-xs order-table-fluid">
              <table class="table table-bordered table-hover">
                <tbody>
                  <tr data-ng-repeat="product in product_detail" class="bg-{{product.colorScheme}}"> 
                    <td>
                      <a href=""><label class="label {{product.label}}">{{product.id}}</label></a>  
                      <span class="pull-right">{{product.quantity}} x {{product.price}} = <strong>{{product.total}}</strong></span> 
                      <br>{{product.name}} 
                      <span class="pull-right">{{product.info}}</span>
                    </td> 
                  </tr>
                <tbody>
              </table>
              <table>
                <tbody>
                  <tr data-ng-repeat="product in product_gross">
                    <td>
                      <strong>Tax: </strong>{{product.tax}} 
                      <span class="pull-right"><strong>Subtotal: </strong>{{product.subtotal}} </span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>  
        </div><!--End of main page content: 3rd row!-->
      </div><!--End of page main content-->
    </div><!--End of container-->
    

    <script src="js/jquery.min.js" type="text/javascript"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/angular-route.js"></script>
    <script src="js/bootstrap.min.js" type="text/javascript"></script>
    <script src="data.js" type="text/javascript"></script>
  </body>
</html
