<section class="well well-sm">
  <form ng-submit="keywordSearch()">
    <div class="form-group row">
      <div class="col-lg-12 col-md-12 right-inner-addon">
        <span class="glyphicon glyphicon-search"></span>
        <input class="form-control" type="text" data-ng-model="keyword.search" placeholder="Order/ Customer Name"></input>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-lg-12 col-md-12">
        <button class="btn btn-primary" type="submit">Find</button> 
      </div>
    </div>
  </form>
  <div class="row">                        <!--status panel start-->
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">           
          <span class="head"><strong>Status</strong></span> 
          <span class="glyphicon glyphicon-resize-vertical pull-right"></span>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in">
          <div class="panel-body">
            <div class="checkbox" data-ng-repeat="status in orderFacets.facetStatuses">
              <label class="btn btn-default btn-block"><input type="checkbox" ng-checked="status.isChecked" ng-click="filterByStatus(status.urlParam)">{{status.description}} ({{status.statusCount}})
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>           <!--Status Panel End-->
  <div class="row">                       <!--sales channel panel start-->
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">           
          <span class="head"><strong>Sales Channel</strong></span> 
          <span class="glyphicon glyphicon-resize-vertical pull-right"></span>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse in">
          <div class="panel-body">
            <div class="radio" data-ng-repeat="channel in orderFacets.facetChannels">
              <label ng-if="channel.isChecked" class="btn btn-default btn-block"><input type="radio" ng-value="channel.isChecked" name="radiochannel" ng-click="filterByChannel(channel.urlParam)" checked></input>{{channel.description}} ({{channel.channelCount}})
              </label>
              <label ng-if="!(channel.isChecked)" class="btn btn-default btn-block"><input type="radio" ng-value="channel.isChecked" name="radiochannel" ng-click="filterByChannel(channel.urlParam)"></input>{{channel.description}} ({{channel.channelCount}})
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>                
  </div>                                  <!--sales channel panel End-->

  <div class="row">                           <!--date panel-->
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">           
          <span class="head"><strong>Date</strong></span> 
          <span class="glyphicon glyphicon-resize-vertical pull-right"></span>
        </div>
        <div id="collapseThree" class="panel-collapse collapse in">
          <div class="panel-body">
            <div class="form-group">
              <div class="radio" data-ng-repeat="days in orderFacets.facetDays">
                <label ng-if="days.isChecked" class="btn btn-default btn-block"><input type="radio" ng-value="days.isChecked" name="radioDate" ng-click="filterByDays(days.urlParam)" checked></input>{{days.daysDescription}} ({{days.daysCount}})</label>
                  <label ng-if="!(days.isChecked)" class="btn btn-default btn-block"><input type="radio" ng-value="days.isChecked" name="radioDate" ng-click="filterByDays(days.urlParam)"></input>{{days.daysDescription}} ({{days.daysCount}})</label>
              </div>
            </div>
            <form ng-submit="dateSearch()">
              <div class="form-group hidden-xs">
                <div class="input-group date">
                  <input type="text" class="form-control text-date1" placeholder="From" data-ng-model="minDate.date" name="minDate.date"/>
                  <span class="input-group-addon cursorPointer">
                    <i class="glyphicon glyphicon-calendar"></i>
                  </span>
                </div>
              </div>
              <div class="form-group row visible-xs">
                <div class="col-lg-12 col-md-12 right-inner-addon">
                  <span class="glyphicon glyphicon-calendar"></span>
                  <input class="form-control" type="date" data-ng-model="minDate.date" placeholder="From"></input>
                </div>
              </div>
              <div class="form-group hidden-xs">
                <div class="input-group date">
                  <input type="text" class="form-control text-date2" placeholder="To" data-ng-model="maxDate.date" name="maxDate.date"/>
                  <span class="input-group-addon cursorPointer">
                    <i class="glyphicon glyphicon-calendar"></i>
                  </span>
                </div>
              </div>
              <div class="form-group row visible-xs">
                <div class="col-lg-12 col-md-12 right-inner-addon">
                  <span class="glyphicon glyphicon-calendar"></span>
                  <input class="form-control" type="date" data-ng-model="maxDate.date" placeholder="To"></input>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-lg-12 col-md-12">
                  <button class="btn btn-primary" type="submit">Find</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>  
  </div>
</section>
<script src="js/datepicker.js" type="text/javascript"></script>
