<div class="row-fluid">
  <div class="row">                           <!--Heading start-->
    <div class="col-sm-12">
      <ul class="breadcrumb">
        <li class="active">
          <span class="flipper-title">
            Orders
          </span>          
        </li>
      </ul>
    </div>
  </div>                                      <!--Heading end-->

  <div class="row">                           
    <div class="col-lg-12">
      <div class="row">
        <div ng-include="'pages/PO_Filter.html'"></div>
          <div class="col-lg-9 col-md-9">                                             <!--Table starts here!-->
            <div ng-include="'pages/PO_Result.html'"></div>                                  <!--table ends here-->
          </div>
        </div>
    </div>
  </div>
</div>    
