<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Return Page</title>
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="css/return.css" rel="stylesheet">
    <link href="css/normalize.css" rel="stylesheet" type="text/css">
    <link href="css/datepicker.min.css" rel="stylesheet"> 
</head>

<body ng-app="ReturnApp">
  
      <div data-ng-view></div>
        <script src="js/jquery.min.js" type="text/javascript"></script>
    <script src="js/angular.min.js" type="text/javascript"></script>
    <script src="js/angular-route.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/bootstrap-datepicker.js"></script>
    <script src="js/Return_route.js"></script>
    <script src="js/Return_controller.js"></script>
    <script src="js/Return_service.js"></script>
  </body>

</html>
