<div class="row">
   <div class="col-sm-12 col-md-12 col-lg-12">
      <div class="panel panel-default">
         <div class="panel-heading">
            <h2 class="panel-title">Shipping Information</h2>
         </div>
         <div class="panel-body">
            <div class="row">
               <!-- For large medium and small devices -->
               <div class="col-sm-6 col-md-6 col-lg-4 hidden-xs">
                  <div class="thumbnail" id="left_thumbnail">
                     <dl class="dl-horizontal " data-ng-repeat="information in shipping_information">
                        <dt>Shipment#:</dt>
                        <dd>{{information.shipment}}</dd>
                        <dt>Status:</dt>
                        <dd>{{information.status}}</dd>
                        <dt>PO#:</dt>
                        <dd>{{information.PO}}</dd>
                     </dl>
                  </div>
               </div>
               <div class="col-sm-6 col-md-6 col-lg-4 hidden-xs">
                  <div class="thumbnail">
                     <dl class="dl-horizontal" data-ng-repeat="information in shipping_information">
                        <dt>Received In:</dt>
                        
                        <dd>{{information.received_in}}</dd>
                        <dt>Warehouse Address:</dt>
                        <dd>{{information.warehouse_name}}</dd>
                        <dd>{{information.street}}</dd>
                        <dd>{{information.country}}</dd>
                     </dl>
                  </div>
               </div>
               <!-- For extra small devices -->
               <div class="col-sm-4 col-md-4 col-lg-4 vertical_border hidden-lg hidden-md hidden-sm" id="shipping_info">
                  <table  data-ng-repeat="information in shipping_information">
                     <tr>
                        <td><b>Shipment#:</b></td>
                        <td>{{information.shipment}}</td>
                     </tr>
                     <tr>
                        <td><b>Status:</b></td>
                        <td>{{information.status}}</td>
                     </tr>
                     <tr>
                        <td><b>PO#:</b></td>
                        <td>{{information.PO}}</td>
                     </tr>
                  </table>
                  <hr class="hidden-lg hidden-md hidden-sm">
               </div>
               <div class="col-sm-4 col-md-4 col-lg-4 vertical_border hidden-lg hidden-md hidden-sm">
                  <dl class="dl-horizontal" data-ng-repeat="information in shipping_information">
                     <dt>Received In:</dt>
                     <dd class="hidden-xs hidden-lg"></dd>
                     <dd>{{information.received_in}}</dd>
                     <dt>Warehouse Address:</dt>
                     <dd>{{information.warehouse_name}}</dd>
                     <dd>{{information.street}}</dd>
                     <dd>{{information.country}}</dd>
                  </dl>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="col-sm-12 col-md-12 col-lg-12">
      <div class="panel panel-default">
         <div class="panel-heading">
            <h2 class="panel-title">Received Items</h2>
         </div>
         
         <label id="select_operator">
            <table class="table hidden-lg hidden-md hidden-sm">
               <form role="form" class="form-inline">
                  <tr>
                     <td>
                        <div class="form-group">
         <label>
         <input  type="checkbox" class="form-control col-lg-6 col-md-5 col-sm-4" >
         </label>
         </div>
         </td>
         <td>
         <div class="form-group col-lg-6 col-md-6 col-sm-6">
         <select class="form-control ">
         <option>Select Put Away Operator</option>
         </select>
         </div>
         </td>
         <td>
         <div class="form-group"><button type="submit" class="btn btn-primary">Submit</button></div>
         </td>
         </tr>
         </form>
         </table>
         </label>
         <table class="table table-bordered  hidden-xs">
            <form role="form" class="form-inline">
               <tr>
                  <td>
                     <div class="form-group">
                        <label>
                        <input type="checkbox" class="form-control col-lg-6 col-md-5 col-sm-4">  
                        </label>
                     </div>
                  </td>
                  <td colspan="7">
                     <div class="form-group col-lg-4 col-md-6 col-sm-6">
                        <select class="form-control ">
                           <option>Select Put Away Operator</option>
                        </select>
                     </div>
                     <button type="submit" class="btn btn-primary">Submit</button>
                  </td>
               </tr>
            </form>
            <tr>
               <th></th>
               <th>Product</th>
               <th>Quantity
               </th>
               <th>rejected Reason</th>
               <th>Unit Price</th>
               <th>Inventory
               </th>
               <th class="hidden-xs">Put Away Slip</th>
               <th>Put Away Operator</th>
            </tr>
            <tbody>
               <tr data-ng-repeat="item in received_items">
                  <td>
                     <form role="form">
                        <div class="form-group">
                           <label>
                           <input type="checkbox" class="form-control"> 
                           </label>
                        </div>
                     </form>
                  </td>
                  <td>
                     <img src="{{item.image}}">
                     {{item.product}}
                  </td>
                  <td>
                     <p>Received: {{item.qty_received}}</p>
                     <p>Rejected: {{item.quantity_rejected}}</p>
                  </td>
                  <td>{{item.rejected_reason}}</td>
                  <td>{{item.unit_price}}</td>
                  <td>
                     <p>ATP: {{item.ATP}}</p>
                     <p>QOH: {{item.QOH}}</p>
                  </td>
                  <td class="hidden-xs">
                     <img src="{{item.put_away_slip}}">
                  </td>
                  <td>{{item.put_away_operator}}</td>
               </tr>
            </tbody>
         </table>
         <!-- Received Items For extra small devices -->
         <div class="col-xs-12 hidden-sm hidden-md hidden-lg" data-ng-repeat="item in received_items" id="received_items">
            <label for="{{item.product}}">
               <div id="product" class="col-xs-12" >
                  <table>
                     <tr>
                        <td>
                           <form role="form">
                              <div class="form-group">
            <label>
            <input type="checkbox" class="form-control" id="{{item.product}}"> 
            </label>
            </div>
            </form>
            </td>
            <td><img src="{{item.image}}"></td>
            <td>{{item.product}}</td>
            </tr>
            </table>
            </div>
            <div class="col-xs-6" >
               <ul>
                  <li><b>Received: </b>{{item.qty_received}}</li>
                  <li><b>Rejected: </b>{{item.quantity_rejected}}</li>
                  <li><b>Rejected Reason: </b> {{item.rejected_reason}} </li>
               </ul>
            </div>
            <div class="col-xs-6">
               <ul>
                  <li>{{item.unit_price}}</li>
                  <li><b>ATP: </b>{{item.ATP}}</li>
                  <li><b>QOH: </b> {{item.QOH}}</li>
                  <li><b>Operator: </b>{{item.put_away_operator}}</li>
                  <li><b>Slip:</b><img src="{{item.put_away_slip}}"></li>
               </ul>
            </div>
            </label>
         </div>
      </div>
   </div>
</div>
<link href="css/style-Shipment.css" rel="stylesheet">
