    <a id="menu-toggle" class="btn btn-primary toggle visible-sm visible-xs"><i class="glyphicon glyphicon-chevron-right"></i></a>
    <div id="sidebar-wrapper" class="visble-sm visible-xs">
      <ul class="sidebar-nav">
        <a id="menu-close" href="" class="btn btn-primary toggle2"><i class="glyphicon glyphicon-chevron-left"></i></a>
        <li><a ng-click="gotoProfile()" class="sidebar-brand">Profile</a></li>
        <li><a ng-click="gotoOrder()" class="sidebar-brand">Order</a></li>
        <li><a ng-click="gotoReturn()" class="sidebar-brand">Return</a></li>
        <li><a ng-click="gotoAddress()" class="sidebar-brand">Address</a></li>
        <li><a ng-click="gotoCreditCard()" class="sidebar-brand">CreditCard</a></li>
      </ul>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12" id="SectionProfile">
      <div class="panel panel-default">
        <div class="panel-heading">
          <span class="panel-title panel_title">Profile
          <button class="btn btn-default pull-right panel-buttons"  data-toggle="modal" data-target="#add_phone">
            <span class="glyphicon glyphicon-phone" ></span>
            Add Phone
          </button>
          </span>
          <div class="modal fade" id="add_phone" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-sm">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">
                  <span aria-hidden="true">&times;</span>
                  <span class="sr-only"></span>      
                  </button>
                  <h4 class="modal-title" id="myModalLabel">Add Phone</h4>
                </div>
                <div class="modal-body">
                  <form role="form">
                    <div class="form-group">
                      <label for="name">Shipping Phone</label>
                      <input type="text" class="form-control" placeholder="{{information.name}}">
                    </div>
                    <div class="form-group">
                      <label for="phone">Billing Phone</label>
                      <input type="email" class="form-control" placeholder="{{information.email}}">
                    </div>
                    <button type="submit" class="btn btn-primary">Add</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="panel-body">
          <div class="row" ng-repeat="information in customer_profile">
            <div class="col-sm-4 col-md-4 col-lg-4" id="content">
              <ul>
                <li>{{information.name}}
                  <a href="">
                  <span class="glyphicon glyphicon-pencil pull-right" id="change_icon"></span>
                  </a>
                </li>
                <li>
                  <a href="mailto:{{information.email}}">
                    <span class="glyphicon glyphicon-envelope"> </span>
                  </a>{{information.email}}
                </li>
                <li>
                  <a href="tel:{{information.phone}}">
                    <span class="glyphicon glyphicon-phone"></span>
                  </a>{{information.phone}}<span class="glyphicon glyphicon-star"></span>
                </li>
              </ul>
              <hr class="hidden-lg hidden-md hidden-sm">
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4" id="frm_content">
              <form role="form">
                <div class="form-group">
                  <label for="name">Name</label>
                  <span class="glyphicon glyphicon-remove pull-right" id="remove_edit"></span>
                  <input type="text" class="form-control" placeholder="{{information.name}}">
                </div>
                <div class="form-group">
                  <label for="email">Email</label>
                  <input type="email" class="form-control" placeholder="{{information.email}}">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4 vertical_border">
              <ul>
                <li><b>Total Orders:</b>
                  <span class ="set_content_margin">{{information.totalOrders}}</span>
                </li>
                <li><b>Profit:</b>
                  <span class ="set_content_margin">{{information.profit}}</span>
                </li>
                <li><b>Service Level</b>
                  <span class ="set_content_margin">{{information.serviceLevel}}</span>
                </li>
                <hr class="hidden-lg hidden-md hidden-sm">
              </ul>
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3 col-lg-offset-1 col-md-offset-1">
              <strong>Other Phones</strong>
              <p><i class="fa fa-money"/>&nbsp;{{information.otherPhones}}
                <a href="">
                <span class="glyphicon glyphicon-trash" data-toggle="modal" data-target="#delete_phone"></span>
                </a>
              </p>
              <div class="modal fade" id="delete_phone" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-sm">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">
                      <span aria-hidden="true">&times;</span>
                      <span class="sr-  only"></span>      
                      </button>
                      <h4 class="modal-title" id="myModalLabel">Delete Phone Number</h4>
                    </div>
                    <div class="modal-body">
                      Are you sure you want to delete phone number?
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-danger">Yes</button>
                      <button type="button" class="btn btn-primary" data-dismiss="modal">No</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12">
      <div class="panel panel-default" id="SectionOrder">
      
        <div class="panel-heading">
          <div class="panel-title panel_title">Orders<a class="btn btn-default pull-right"><span class="glyphicon glyphicon-refresh"></span></a></div>
        </div>
        
          <table class="table table-striped table-bordered table-condensed">
            <thead>
              <tr class="hidden-xs">
                <td>
                  <div class="row">
                    <div class="col-sm-4"><strong>Order</strong></div>
                    <div class="col-sm-3"><strong>Date</strong></div>
                    <div class="col-sm-3"><strong>Amount</strong></div>
                    <div class="col-sm-2"></div>
                  </div>
                </td>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="order in orders">
                <td>
                  <div class="col-sm-4"><a href="orders.html"><span class="name_style">{{order.orderId}}</span></a>
                    <span class="label {{order.labelClass}}" data-toggle="popover" title="History" data-template="#history_table"
                      data-content="history_table" data-container="body" data-trigger="hover" data-placement="right">
                      {{order.orderStatus}}
                      <span class="glyphicon glyphicon-dashboard hidden-xs hidden-sm"></span>
                    </span>
                    <!--History Table Inside Popover-->
                    <div id="history_table" class="popover" aria-hidden="true">
                      <div class="arrow hidden-xs hidden-sm" aria-hidden="false"></div>
                      <h1 class="popover-title hidden-xs hidden-sm"></h1>
                      <table class="table table-bordered table-striped" id="popover_sizing">
                        <tbody>
                          <tr>
                            <td>Completed</td>
                            <td>09-19-2014 06:24 AM</td>
                            <td>Admin User</td>
                          </tr>
                          <tr>
                            <td>Approved</td>
                            <td>09-19-2014 06:23 AM</td>
                            <td>Aashish Vijaywargiyaa</td>
                          </tr>
                          <tr>
                            <td>Created</td>
                            <td>09-19-2014 06:22 AM</td>
                            <td>Aashish Vijaywargiyaa</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <div class="col-sm-3">{{order.date}}</div>
                  <div class="col-sm-5">
                    <table class="table" id="inner_table_background">
                      <tr>
                        <td class="inner_table">
                          {{order.amount}}
                         <i class="text-muted"> Returned: {{order.returned}}</i>
                        </td>
                        <td class="inner_table"> <a href="">Reorder</a></td>
                      </tr>
                    </table>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        
      </div>
      <div class="row" id="SectionReturn">
        <div class="col-sm-12">
          <div class="panel panel-default">
            <div class="panel-heading">
               <span class="panel-title panel_title">
                 Returns&nbsp;<span class="badge">1</span><a class="btn btn-default pull-right"><span class="glyphicon glyphicon-refresh"></span></a>
               </span>
            </div>
            
              <table class="table table-striped table-bordered" >
                <thead>
                  <tr class="hidden-xs">
                    <td>
                      <div class="row">
                        <div class="col-sm-4 add_border"><strong>Return</strong></div>
                        <div class="col-sm-5 add_border"><strong>Date</strong></div>
                        <div class="col-sm-3"><strong>Amount</strong></div>
                      </div>
                    </td>
                  </tr>
                </thead>
                <tbody>
                  <tr class="visible-md visible-lg" ng-repeat="return_record in returns">
                    <td>
                      <div class="row">
                        <div class="col-sm-4 add_border">
                          <a><span class="name_style">{{return_record.returnId}}</span></a>
                          <span class="label label-success" data-toggle="popover" title="Address" data-content="#return_popover"
                          data-template="#return_popover" data-container="body" data-trigger="hover" data-placement="top">
                          {{return_record.returnStatus}}<span class="glyphicon glyphicon-dashboard hidden-xs hidden-sm"></span></span>
                          <div id="return_popover" class="popover hidden-xs hidden-sm">
                            <h1 class="popover-title hidden-xs hidden-sm"></h1>
                            {{return_record.returnStatus}}&nbsp;{{return_record.date}}
                          </div>
                        </div>
                        <div class="col-sm-5 add_border">
                          {{return_record.date}}
                        </div>
                        <div class="col-sm-3">
                          {{return_record.amount}}
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr class="visible-sm visible-xs" ng-repeat="return_record in returns">
                    <td>
                      <div class="col-sm-4 col-xs-8 add_border">
                        <a href=""><span class="name_style">{{return_record.returnId}}</span></a>
                        <span class="label label-success">{{return_record.returnStatus}}</span>
                      </div>
                      <div class="col-sm-3 col-xs-2">
                        {{return_record.amount}}
                      </div>
                      <div class="col-sm-5 add_border">
                        {{return_record.date}}
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            
          </div>
        </div>
      </div>
      <!--Shipping Address Panel-->
      <div class="row">
        <div class="col-sm-6" id="SectionAddress">
          <div class="panel panel-default panel-group" id="accordion">
            <div class="panel-heading" data-toggle="collapse"  data-parent="#accordion"  href="#collapseShippingPanel" >
              <span data-toggle="collapse"  data-parent="#accordion"  href="#collapseShippingPanel">
                <span data-toggle="collapse"  data-parent="#accordion"  href="collapseShippingPanel" class="show_cursor panel-title panel_title">
                Shipping &nbsp;<span class="badge">2</span>
                </span>
              </span>
              <div class="btn-group pull-right add_btn">
                <button class="btn btn-default" data-toggle="modal" data-target="#add_shipping_address">
                  <i class="fa fa-truck"/>&nbsp;Add
                </button>
                <button type="button" class="btn btn-default">
                  <span class="glyphicon glyphicon-resize-vertical"></span>
                </button> 
              </div>
            </div>
            <div id="collapseShippingPanel"  class="panel-collapse collapse collapse-body">
              <div class="row">
                <div class="col-sm-12">
                  <div class="hidden-xs">
                    <div class="panel-body col-sm-6" ng-repeat="address in address">
                      <ul class=" panel panel-default" id="address_space">
                        <li>{{address.name}}</li>
                        <li><strong>{{address.street}}</strong></li>
                        <li>{{address.city}}</li>
                        <li>{{address.country}}</li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-sm-9 hidden-sm hidden-md hidden-lg">
                    <div class="panel-body inner_panel_body">
                      <ul ng-repeat="address in address">
                        <li>{{address.name}}</li>
                        <li><strong>{{address.street}}</strong></li>
                        <li>{{address.city}}</li>
                        <li>{{address.country}}</li><hr ng-if="!$last">
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--Credit Card Panel-->
        <div class="col-sm-6" id="SectionCreditCard">
          <div class="panel panel-default panel-group" id="accordion">
            <div class="panel-heading" data-toggle="collapse"  data-parent="#accordion_credit_panel"  href="#accordion_credit_panel">
               <span data-toggle="collapse"  data-parent="#accordion"  href="#accordion_credit_panel">
                <span data-toggle="collapse"  data-parent="#accordion"  href="accordion_credit_panel" class="show_cursor panel-title panel_title">
                Credit Cards&nbsp;<span class="badge">1</span>
                </span>
              </span>
              <div class="btn-group pull-right add_btn">
                <button class="btn btn-default" data-toggle="modal" data-target="#add_credit_card">
                  <span class="glyphicon glyphicon-credit-card"></span>&nbsp;Add
                </button>
                <button class="btn btn-default" type="button">
                  <span class="glyphicon glyphicon-resize-vertical"></span>
                </button>
              </div>
            </div>
            <div id="accordion_credit_panel" class="panel-collapse collapse collapse-body">
              <div class="row">
                <div class="col-sm-12">
                  <div class="panel-body col-sm-12" ng-repeat="visaCode in visaCode">
                    <img src="images/new_visa.gif" class="img-responsive icon-inline">&nbsp;<span>{{visaCode.code}}</span>
                    <a href="">
                      <span class="pull-right glyphicon glyphicon-trash icon-inline" data-toggle="modal" data-target="#myModal">
                      </span>
                    </a>
                    <a href="">
                      <span class="pull-right glyphicon glyphicon-pencil icon-inline glyphicon_set_margin" data-toggle="modal" data-target="#update_card_detail">
                      </span>
                    </a>
                    <ul class="col-sm-12 inner_panel_body">
                      <li>{{visaCode.name}}</li>
                      <li>{{visaCode.street}}</li>
                      <li>{{visaCode.city}}</li>
                      <li>{{visaCode.country}}</li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-sm">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">
                      <span aria-hidden="true">&times;</span>
                      <span class="sr-only"></span>
                      </button>
                      <h4 class="modal-title" id="myModalLabel">Delete Credit Card</h4>
                    </div>
                    <div class="modal-body">
                      Are you sure you want to delete credit card?
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-danger" data-dismiss="modal">Yes</button>
                      <button type="button" class="btn btn-primary">No</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal" id="update_card_detail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">
                      <span aria-hidden="true">&times;</span>
                      <span class="sr-only"></span>
                      </button>
                      <h4 class="modal-title" id="myModalLabel">Update Card Details</h4>
                    </div>
                    <div class="modal-body">
                      <form role="form">
                        <div class="row">
                          <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="form-group row">
                              <div class="col-lg-12 col-md-12 col-sm-12">
                                <label for="firstNameOnCard">Name<span class="asterisk"> *</span></label>
                                <div class="row">
                                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                    <input type="text" name="firstNameOnCard" id="firstNameOnCard" class="form-control" placeholder="First Name" autofocus="">
                                  </div>
                                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                    <input type="text" name="lastNameOnCard" id="lastNameOnCard" class="form-control" placeholder="Last Name">
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-lg-12 col-md-12 col-sm-12">
                                <div class="row">
                                  <div class="col-lg-6 col-md-6 col-sm-12 form-group">
                                    <label for="customer_card_number">Card Number<span class="asterisk"> *</span></label>
                                    <input type="text" class="form-control" maxlength="16" minlength="13" value="">
                                  </div>
                                  <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 form-group">
                                    <label for="expMonth">Exp Date<span class="asterisk"> *</span></label>
                                    <div class="row">
                                      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                        <select name="expMonth" class="form-control">
                                          <option value="">Month</option>
                                          <option value="1">1</option>
                                          <option value="2">2</option>
                                          <option value="3">3</option>
                                          <option value="4">4</option>
                                          <option value="5">5</option>
                                          <option value="6">6</option>
                                          <option value="7">7</option>
                                          <option value="8">8</option>
                                          <option value="9">9</option>
                                          <option value="10">10</option>
                                          <option value="11">11</option>
                                          <option value="12">12</option>
                                        </select>
                                      </div>
                                      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                        <select name="expYear" class="form-control">
                                          <option value="">Year</option>
                                          <option value="2014">2014</option>
                                          <option value="2015">2015</option>
                                          <option value="2016">2016</option>
                                          <option value="2017">2017</option>
                                          <option value="2018">2018</option>
                                          <option value="2019">2019</option>
                                          <option value="2020">2020</option>
                                        </select>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-sm-6">
                            <div class="form-group">
                              <label for="address">Address</label>
                              <input type="name" class="form-control">
                            </div>
                            <div class="form-group">
                              <label for="country">Country</label>
                              <select class="form-control">
                                <option>India</option>
                                <option>Australia</option>
                                <option>USA</option>
                              </select>
                            </div><div class="row">
                            <div class="form-group col-sm-4">
                              <label for="city">City</label>
                              <input type="name" class="form-control">
                            </div>
                            <div class="form-group col-sm-4">
                              <label for="state">State</label>
                              <select class="form-control">
                                <option>MP</option>
                                <option>UP</option>
                                <option>Maharashtra</option>
                              </select>
                            </div>
                            <div class="form-group col-sm-4">
                              <label for="zipcode">Zipcode</label>
                              <input type="number" class="form-control">
                            </div></div>
                          </div>
                        </div>
                      </form>
                    </div>
                    <div class="modal-footer">
                      <button type="submit"class="btn btn-primary pullright">Save</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--Modal For Add Credit Card Details-->
    <div class="modal" id="add_credit_card" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg modal_custom">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">&times;</span><span class="sr-only"></span>      
            </button>
            <h4 class="modal-title" id="myModalLabel">Add Credit Card</h4>
          </div>
          <div class="modal-body"><div class="row">
            <form method="post">
              <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="form-group row">
                  <div class="col-lg-12 col-md-12 col-sm-12">
                    <label for="firstNameOnCard">Name<span class="asterisk"> *</span></label>
                    <div class="row">
                      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <input type="text" name="firstNameOnCard" id="firstNameOnCard" class="form-control" placeholder="First Name" autofocus="">
                      </div>
                      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <input type="text" name="lastNameOnCard" id="lastNameOnCard" class="form-control" placeholder="Last Name">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="row">
                      <div class="col-lg-6 col-md-6 col-sm-12 form-group">
                        <label for="customer_card_number">Card Number<span class="asterisk"> *</span></label>
                        <input type="text" class="form-control" maxlength="16" minlength="13" value="">
                      </div>
                      <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 form-group">
                        <label for="expMonth">Exp Date<span class="asterisk"> *</span></label>
                        <div class="row">
                          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <select name="expMonth" class="form-control">
                              <option value="">Month</option>
                              <option value="1">1</option>
                              <option value="2">2</option>
                              <option value="3">3</option>
                              <option value="4">4</option>
                              <option value="5">5</option>
                              <option value="6">6</option>
                              <option value="7">7</option>
                              <option value="8">8</option>
                              <option value="9">9</option>
                              <option value="10">10</option>
                              <option value="11">11</option>
                              <option value="12">12</option>
                            </select>
                          </div>
                          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <select name="expYear" class="form-control">
                              <option value="">Year</option>
                              <option value="2014">2014</option>
                              <option value="2015">2015</option>
                              <option value="2016">2016</option>
                              <option value="2017">2017</option>
                              <option value="2018">2018</option>
                              <option value="2019">2019</option>
                              <option value="2020">2020</option>
                            </select>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6">
                  <div class="checkboxlabel">
                    <label>
                      <input type="checkbox" value="" name="use_Shipping_Address" id="Different_Address">
                      Add New Address
                    </label>
                  </div>
                <div id="Use_Existing_Address">
                  <ul class="row">
                    <li>
                      <ul>
                        <li class="col-lg-6 col-md-6 col-sm-12">
                          <div class="thumbnail">
                            <label class="relative">
                              <input type="radio" form="update-billing-address" class="pull-left" id="Create_New_Address1" checked="">
                              <ul ng-repeat="visaCode in visaCode" id="Customer_Address">
                                <li>{{visaCode.name}}</li>
                                <li><strong>{{visaCode.street}}</strong></li>
                                <li>{{visaCode.city}}</li>
                                <li>{{visaCode.country}}</li>
                              </ul>
                            </label>
                          </div>
                        </li>
                      </ul>
                    </li>
                    <li>
                      <ul>
                        <li class="col-lg-6 col-md-6 col-sm-12">
                          <div class="thumbnail">
                            <label class="relative">
                              <input type="radio" form="update-billing-address" class="pull-left" id="Create_New_Address2">
                              <ul ng-repeat="visaCode in visaCode" id="Customer_Address">
                                <li>{{visaCode.name}}</li>
                                <li><strong>{{visaCode.street}}</strong></li>
                                <li>{{visaCode.city}}</li>
                                <li>{{visaCode.country}}</li>
                              </ul>
                            </label>
                          </div>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </div>
                <div id="Enter_New_Address" style="display: none;">
                  <div class="form-group row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                      <label for="Address1">Address<span class="asterisk"> *</span></label>
                      <input type="text" name="Address1" class="form-control" id="Address1" data-label="Address">
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                      <input type="text" name="Address2" class="form-control" id="Address2">
                    </div>
                  </div>
                  <div class="row">
                    <div class="form-group col-lg-6 col-md-6 col-sm-6">
                      <label for="CountryId">Country<span class="asterisk"> *</span></label>
                      <select name="CountryId" class="form-control" id="CountryId">
                          <option value="CAN">Canada</option>
                          <option value="USA" title="USA" selected="">United States</option>
                      </select>
                    </div>
                    <div class="form-group col-lg-6 col-md-6 col-sm-6">
                      <label for="StateId">State<span class="asterisk"> *</span></label>
                      <select name="StateId" id="StateId" class="form-control" data-label="State">
                        <option value="AA" title="AA">AA</option>
                        <option value="AE" title="AE">AE</option>
                        <option value="AK" title="AK">AK</option>
                        <option value="AL" title="AL">AL</option>
                        <option value="AP" title="AP">AP</option>
                        <option value="AR" title="AR">AR</option>
                        <option value="AZ" title="AZ">AZ</option>
                        <option value="CA" title="CA">CA</option>
                        <option value="CO" title="CO">CO</option>
                        <option value="CT" title="CT">CT</option>
                        <option value="DC" title="DC">DC</option>
                        <option value="DE" title="DE">DE</option>
                        <option value="FL" title="FL">FL</option>
                        <option value="GA" title="GA">GA</option>
                      </select>
                    </div>
                  </div>
                  <div class="row">
                    <div class="form-group col-lg-6 col-md-6 col-sm-6">
                      <label for="City">City<span class="asterisk"> *</span></label>
                      <input type="text" name="City" id="City" class="form-control" maxlength="25" data-label="City">
                    </div>
                    <div class="form-group col-lg-6 col-md-6 col-sm-6">
                      <label for="ZipCode">Zip<span class="asterisk"> *</span></label>
                      <input type="text" name="City" id="City" class="form-control"maxlength="6" data-label="Zip">
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-lg-12 col-md-12 col-sm-12">
                    <button type="submit" form="add-credit-card" class="btn btn-primary relative pull-right">
                      Add
                    </button>
                  </div>
                </div>
              </div>
            </form>
          </div></div>
        </div>
      </div>
    </div>
    <!--Modal For Add Shipping Address-->
    <div class="modal" id="add_shipping_address" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-md">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">&times;</span><span class="sr-only"></span>      
            </button>
            <h4 class="modal-title" id="myModalLabel">Add Shipping Address</h4>
          </div>
          <div class="modal-body">
            <form role="form">
              <div class="form-group">
                <label for="name">Name</label>
                <input type="name" class="form-control">
              </div>
              <div class="form-group">
                <label for="address">address</label>
                <input type="text" class="form-control">
              </div>
              <div class="form-group">
                <input type="text" class="form-control">
              </div>
              <div class="form-group">
                <label for="address">Country</label>
                <select name="select_country" class="form-control">
                  <option>USA</option>
                  <option>Australia</option>
                  <option>India</option>
                </select>
              </div>
              <div class="row">
              <div class="col-sm-12 set-default-space">
                <div class="form-group col-sm-4" >
                  <label for="city">City</label>
                  <input type="text" class="form-control">
                </div>
                <div class="form-group col-sm-4" >
                  <label for="state">State</label>
                  <select name="select_state" class="form-control">
                    <option>MP</option>
                    <option>UP</option>
                    <option>Gujrat</option>
                  </select>
                </div>
                <div class="form-group col-sm-4">
                  <label for="zip">Zip</label>
                  <input type="text" class="form-control">
                </div>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Submit</button> 
          </div>
        </div>
      </div>
    </div>