<div class="row-fluid">
  <div class="row"><!--start of page main content !-->  
    <div class="col-lg-12 col-md-12 col-sm-12" data-ng-repeat="order in orderDetail">
      <div class="panel panel-default">
        <div class="panel-heading" >
          <div class="panel-title">
            <span>{{order.id}}</span>
            <button id="panelStatus" class="btn btn-success btn-xs" type="button" data-toggle="popover" title=" " data-template = ".order-status-history" data-container="body" data-placement="bottom"> {{order.status}} 
              <span class="caret"></span>
            </button>  
          </div>
          <div id="order-panel">
            <a class="btn btn-default panel-head-button">
              <span class="glyphicon glyphicon-share"></span> Reorder
            </a>
          </div>
        </div>
        <div class="panel-body" id="forLargeDevices">         <!--Panel body start for large screen -->
          <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3">
              <ul class="list-unstyled">                  
                <li><strong>{{order.name}}</strong></li>
                <li>{{order.street}}</li>
                <li>{{order.city}}</li>
                <li>{{order.country}}</li> <hr class="visible-xs">
              </ul>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3" >
              <ul class="list-unstyled">  
                <li><strong>Placed By</strong></li>   
                <li>{{order.placedBy}}</li>             
                <li>{{order.date}}</li>
              </ul>                      
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3" ><br>
              <table>
                <thead>
                  <tr>
                    <th width="80px">Subtotal:</th>
                    <td>{{order.subTotal}}</td>
                  </tr>
                  <tr>
                    <th width="100px">Grand Total:</th>
                    <td>{{order.grandTotal}}</td>
                  </tr>
                </thead>  
              </table>
            </div>
                                    
            <div class="col-lg-3 col-md-3 col-sm-3">
              <table class="table table-condensed">
                <thead>
                  <tr>
                    <th>Invoice</th> 
                    <th>Amount</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <a target="_blank" href=""> {{order.invoice}} </a>
                      <a target="_blank" href=""> <img src="images/pdf.ico" width="25px"/> </a> 
                    </td>
                    <td> {{order.amount}} </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>                                      <!--Panel body end for large screen-->

        <div class="panel-body" id="forPortrait">   <!-- for small device portrait view !-->
          <div class="row">
            <div class="col-xs-12">
              <ul class="list-unstyled">                  
                <li><strong>{{order.name}}</strong></li>
                <li>{{order.street}}</li>
                <li>{{order.city}}</li>
                <li>{{order.country}}</li>
              </ul>             <hr class="visible-xs">
            </div>
            
            <div class="col-xs-12" >
              <ul class="list-unstyled">                  
                <li><strong>Placed By</strong></li>   
                <li>{{order.placedBy}}</li>             
                <li>{{order.date}}</li>
              </ul>
              <hr>                      
            </div>
            <div class="col-xs-12">
              <table>
                <thead>
                  <tr>
                    <th>Subtotal:</th>
                    <td>{{order.subTotal}}</td>
                  </tr>
                  <tr>
                    <th>Grand Total:</th>
                    <td>{{order.grandTotal}}</td>
                  </tr>
                </thead>    
              </table>
              <hr class="visible-xs">                
            </div>
                                    
            <div class="col-xs-12">
              <table class="table table-condensed">
                <thead>
                  <tr>
                    <th>Invoice</th> 
                    <th class="column-space">Amount</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <a target="_blank" href=""> {{order.invoice}} </a>
                      <a target="_blank" href=""> <img src="images/pdf.ico" width="20px"/> </a> 
                    </td>
                    <td class="column-space"> {{order.amount}} </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="panel-body" id="forLandscape">     <!-- for small device landscape view !-->
          <div class="row">
            <div class="col-xs-6">
              <ul class="list-unstyled">                  
                <li><strong>{{order.name}}</strong></li>
                <li>{{order.street}}</li>
                <li>{{order.city}}</li>
                <li>{{order.country}}</li>
              </ul> 
	        </div>
                
             <div class="col-xs-6">
               <ul class="list-unstyled">                  
                 <li><strong>Placed By</strong></li>   
                 <li>{{order.placedBy}}</li>             
                 <li>{{order.date}}</li>
               </ul>
		     </div>

             <div class="col-xs-12" ><hr></div> 
               <div class="col-xs-6"><br>
                 <table>
                   <thead>
                     <tr>
                       <th>Subtotal:</th>
                       <td>{{order.subTotal}}</td>
                     </tr>
                     <tr>
                       <th>Grand Total:</th>
                       <td>{{order.grandTotal}}</td>
                     </tr>
                   </thead>
                 </table>
               </div>  
                                        
               <div class="col-xs-6">
                 <table class="table table-condensed">
                   <thead>
                     <tr>
                       <th>Invoice</th> 
                       <th>Amount</th>
                     </tr>
                   </thead>
                   <tbody>
                     <tr>
                       <td>
                         <a target="_blank" href=""> {{order.invoice}} </a>
                         <a target="_blank" href=""> <img src="images/pdf.ico" width="20px"/> </a> 
                       </td>
                       <td> {{order.amount}} </td>
                     </tr>
                   </tbody>
                 </table>
               </div>
             </div>
           </div>
         </div>
       </div>
       <div class="popover history-popover-small hidden-lg hidden-sm hidden-md order-status-history order-status-dropdown dropdown-menu-arrow">
         <table class="table table-striped table-bordered table-hover">
           <tbody>
             <tr data-ng-repeat="order in orderStatusHistory">
               <td>{{order.status}}</td>
               <td>{{order.date}}</td>
               <td>{{order.user}}</td>
             </tr>
           </tbody>
         </table>
       </div>
       <div class="history-popover-large popover hidden-xs order-status-history order-status-dropdown dropdown-menu-arrow">
         <table class="table table-striped table-bordered table-hover">
           <tbody>
             <tr data-ng-repeat="order in orderStatusHistory">
               <td>{{order.status}}</td>
               <td>{{order.date}}</td>
               <td>{{order.user}}</td>
             </tr>
           </tbody>
         </table>
       </div>
        
       <div class="col-lg-12 col-md-12 col-sm-12"><!--start of main page content: 2nd row!-->
         <div class="panel panel-default">
           <div class="panel-heading">
               <span class="panel-title">Shipment</span>
           </div>
           <div class="panel-body">
             <div class="row">
               <div class="col-lg-3 col-md-3 col-sm-3" data-ng-repeat="shipment in shipmentDetail">
                 <ul class="list-unstyled">
                   <li><strong>{{shipment.name}}</strong></li>
                   <li>{{shipment.street}}</li>
                   <li>{{shipment.city}}</li>
                   <li>{{shipment.country}}</li>        <hr class="visible-xs">
                 </ul>
               </div>
               <div class="col-lg-6 col-md-6 col-sm-6">
                 <ul class="list-unstyled">
                   <li>
                     <strong>Instructions</strong>
                     <div class="text-muted">This shipment does not have any shipping instruction.</div>
                   </li>
                 </ul>
               </div>  <hr class="visible-xs">
         
               <div class="col-lg-3 col-md-3 col-sm-3">
                 <ul class="list-unstyled">
                   <li> <strong>Shipments</strong> </li>
                   <li data-ng-repeat="shipment in shipmentDetail"> 
                     <a href="">{{shipment.id}}</a> 
                   </li>
                 </ul>                 
               </div>
             </div>
           </div>
           <div class="navbar navbar-default">
             <ul class="nav navbar-collapse navbar-right">
               <li class="pull-right"><button class="btn btn-default btn-round popper" data-trigger="hover" data-toggle="popover" data-original-title="Color Scheme">?</button> 
                 <div class="popper-content hide">
                   <ul class="list-unstyled microbox-list">
                     <li><div class="microbox order-item-picked"></div>Picked</li>
                     <li><div class="microbox order-item-shipped"></div>Shipped</li>
                     <li><div class="microbox order-item-backordered"></div>Backordered</li>
                     <li><div class="microbox order-item-cancelled"></div>Cancelled</li>
                   </ul>
                 </div>
               </li>
             </ul>
           </div>
             
           <div class="hidden-xs table-fluid">
             <table class="table table-bordered">
               <thead>
                 <tr>
                   <th>#</th>
                   <th>Description</th>
                   <th>Status</th>
                   <th>Min Qty</th>
                   <th>Ordered Qty</th>
                   <th>Received Qty</th>
                   <th>Price</th>
                   <th><div class="pull-right">Total</div></th>
                 </tr>
               </thead>
               <tbody>
                 <tr data-ng-repeat="product in productDetail" class="{{product.scheme}}">
                   <td>{{product.sNo}}</td>
                   <td>{{product.name}} [{{product.id}}]</td>
                   <td>{{product.status}}</td>
                   <td>{{product.minQty}}</td>
                   <td>{{product.orderedQty}}</td>
                   <td>{{product.receivedQty}}</td>
                   <td>{{product.price}}</td>
                   <td><div class="pull-right">{{product.total}}</div></td>
                 </tr>
                 <tr>
                   <td colspan="8" height="80px">
                     <div class="pull-right">
                       <table data-ng-repeat="product in productGross">
                         <thead><br>
                           <tr><th width="80px">Tax</th><td>{{product.tax}}</td></tr>
                           <tr><th width="80px">Subtotal</th><td>{{product.subtotal}}</td></tr>
                         </thead>
                       </table>
                     </div>
                   </td>
                 </tr>
               </tbody>
             </table>   
           </div>
           
           <div id="order-table"  class="visible-xs table-fluid">
             <table class="table table-bordered table-hover">
               <tr data-ng-repeat="product in productDetail"  class="{{product.scheme}}"> 
                 <td>
                   <label class="label {{product.label}}"> {{product.id}}</label> {{product.name}} <br>
                   <span class="pull-left">Ordered: {{product.orderedQty}}</span> 
                   <span class="pull-right"> Price: {{product.price}} </span> <br>
                   <span class="pull-left"> Received: {{product.receivedQty}} </span>
                   <span class="pull-right"><strong>Total: {{product.total}}</strong> </span>
                 </td>
               </tr>
               <tr data-ng-repeat="product in productGross"> 
                 <td colspan="2" height="60px"><strong>Tax: </strong>{{product.tax}} <span class="pull-right"><strong>Subtotal: </strong>{{product.subtotal}}</span></td>
               </tr>
             </table>
           </div>
         </div>
       </div>                            <!--End of main page content: 3rd row!-->
     </div>                              <!--End of main content!-->
   </div>                                <!--End of container!-->
   